body {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: auto;
    grid-template-areas: 
       "header header header"
       " nav main aside"
       "footer footer footer"
    ;
}

nav {
    background-color:#014e2e;
    grid-area: nav;
}

nav ul {
    display: flex;
    justify-content: space-around;
}


header {
    background-color: #014e2e;
    color: white;
    padding: 20px;
    grid-area: header;
}

main {
    background-color: #c1d32f;
    color: black;
    grid-area: main;
}

aside {
    background-color: #014e2e;
    grid-area: aside;
}

footer {
    background-color: #013006;
    color: white;
    grid-area: footer;
}

